<nav class="flex gap-10 bg-gray-400 p-4">
  <a class="navbar-brand">{{ pageTitle }}</a>
  <ul class="flex items-center gap-4">
    @for (item of menuItems; track item.id) {
      <li class="flex">
        <a
          class="nav-link"
          [routerLink]="item.routerLink"
          routerLinkActive="bg-gray-600 p-2 rounded-md text-white"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          {{ item.name }}

          @if (item.name === "cart") {
            <span class="bage bg-primary">
              {{ cartCount() > 0 ? cartCount() : "" }}
            </span>
          }
        </a>
      </li>
    }
  </ul>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>
